<div class="about-box">
  <div class="row">
    <div class="col-lg-4">
      <div class="about-img-box">
        <img src="../images/vikasdave1.jpeg" class="about-img" />
      </div>
    </div>
    <div class="col-lg-8">
      <div class="about-info">
        <div class="about-name">Vikas Dave</div>
        <div class="about-me">
          Knowledgeable and detailed-oriented game programmer accustomed to
          working in fast-paced and deadline-driven environments. Adept at
          developing video games, performing various project management tasks,
          and conducting code reviews. An extremely efficient student seeking a
          professional course in which my creative skills and programming
          knowledge can be enhanced and can be used as an asset to the
          institution.
        </div>
        <div class="about-btn">
          <a
            class="btn btn-primary hero-about-btn"
            href="/projects"
            role="button"
            >Projects</a
          >
          <a
            class="btn btn-success hero-about-btn"
            href="./assets/Vikas Dave-3.pdf"
            role="button"
            target="_blank"
            >Resume</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
