<div class="contact-box">
  <div class="container">
    <div class="contact-details">
      <a href="mailto:vikasdave0511@gmail.com" >
       <div class="contect-details-text">vikasdave0511@gmail.com</div></a>
      <a href="tel:+91-9145991363 " class="contect-details-text">+91-9145991363 </a>
      <a href="/" class="contect-details-text">Rajasthan,India</a>
    </div>      
        <form class="contact-form">            
            <input
              type="name"
              name="text"
              placeholder="First Name"
              class="contact-firstName "
            />
            <input
            type="name"
            name="text"
            placeholder="Last Name"
            class="contact-lastName"
          />
            <input
              type="tel"
              name="number"
              placeholder="Phone Number"
              class="contact-tel "
            />         
            <input
              type="email"
              name="email"
              placeholder="Email ID"
              class="contact-email "
            />
            <textarea
              placeholder="Your Message"
              class="contact-textarea "
            ></textarea>      
            <a
            class="btn btn-primary contact-btn "
            href="/"
            role="button"
            >SEND</a
          >  
      </form>
    </div>
  </div>
</div>
