<div class="hero-box">
  <div class="hero-welcome">Welcome</div>
  <div class="hero-title">I am Vikas Dave</div>
  <div class="hero-mission">
    I love to explore everything and ready to learn from every opportunity that
    I come across. My fuel is the dream that boosts me to achieve my goals.
  </div>
  <a class="btn btn-primary hero-about-btn" href="/about" role="button"
    >About Me</a
  >
  <a href="/users/login"
    ><button class="btn btn-primary hero-login-btn">Login</button></a
  >
</div>
