<div class="project-box">
  <div class="row">
    <div class="col-lg-3">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./images/worldend.jpeg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Stardust At the Worlds End</h5>
          <p class="card-text">
            It is a third person shooting game made on a 3D platform with
            various different functionalities for better user experience and
            gameplay.
          </p>
          <h6>Software Used</h6>
          <p> Unreal Engine.</p>
          <h6>
            Coding Language Used
          </h6>
          <p>Blueprint Scripting</p>
          <a href="https://youtu.be/IBDDISgc2Jg" class="btn btn-danger">Demo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem " >
        <img class="card-img-top" src="./images/racer.jpeg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">StarDust Racer</h5>
          <p class="card-text">
            It is a car racing game which is a vehicle simulation based game,
            made on a 3D platform with various different functionalities. 

            <h6>Software Used</h6> 
            <p>Unity 3D Autodesk Maya.</p>
            <h6>Coding Language Used</h6> 
            <p>C#</p>
          </p>
          <a href="https://youtu.be/kTH6P5XDLFI" class="btn btn-danger">Demo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./images/ludo.jpeg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Stardust Ludo</h5>
          <p class="card-text">
            It is a 2D perspective platform based game. StarDust ludo is a strategy board game for two to four players. It is developed with various different functionalities.
          </p>
          <h6>Software Used 

           </h6>
          <p>
            1. Unity 3D
            2. Adobe Photoshop
          </p>
          
          <h6>Coding Language Used 
          </h6>
          <p>  1. C#</p>
          <a href="https://www.youtube.com/watch?v=bvnUjTlbNUQ" class="btn btn-danger">Demo</a>
        </div>
      </div>
    </div>
   
   
    <div class="col-lg-3">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./images/vrprojects.jpeg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Virtual Reality</h5>
          <p class="card-text">
            I had made few virtual reality projects and some of them are
            <ul>
              <li>VR Simulation For DC Motor To Generator Interconversion.</li>
              <li> VR Walkthrough For IC Fabrication Lab.</li>
              <li> VR Simulation For Engine Assembly.</li>
              <li>VR Farming Simulation.</li>
            </ul> 
          </p>
          <h6>Software Projects</h6>
          <p>Unreal engine, Autodesk Maya, Substance Painter.</p>
          <h6>Coding Language Used</h6>
          <p>Blueprint Scripting, c#</p>
          <a href="https://www.youtube.com/watch?v=vyaGWYawTWc" class="btn btn-danger">Demo</a>
        </div>
      </div>
    </div>
  </div>
</div>
