<div class="services-box">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="width: 28rem">
        <img
          class="card-img-top"
          src="./images/game.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">GAME DEVELOPMENT</h5>
          <p class="card-text">
            Working individually as well as with community, I develop games that
            create vibrant new thoughts & attract people.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card" style="width: 28rem">
        <img class="card-img-top" src="./images/vr.jpeg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">VIRTUAL REALITY</h5>
          <p class="card-text">
            Developed many Virtual Reality simulation individually & with team
            work for students and interns with the help of various softwares
            like Unity 3D, Unreal Engine, Autodesk Maya etc...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
