<!-- include header -->
<%- include('partials/header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container mt-5">
    <div class="box-nav">
      <a href="/dashboard/add-contact" class="border-shadow btn btn-primary">
        <span class="text-gradient"
          >New Contact <i class="fas fa-user"></i
        ></span>
      </a>
      <a href="/users/logout"
        ><button class="btn btn-primary">Logout</button></a
      >
    </div>

    <!-- form handling -->
    <form action="/dashboard" method="POST" class="mt-5">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>@Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('partials/_show') %>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('partials/footer') %>
<!-- /include footer -->
